<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_DIR" value="log-app" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				[%d{yyyy-MM-dd HH:mm:ss.SSS}]-[%-5level]-[%logger.%M]-%msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="SAVE-TO-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/oadf.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>
				[%d{yyyy-MM-dd HH:mm:ss.SSS}]-[%-5level]-[%logger.%M]-%msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- default -->
	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SAVE-TO-FILE" />
	</root>

	<!-- spring.profiles.active=dev -->
	<springProfile name="dev">
		<root level="debug">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="SAVE-TO-FILE" />
		</root>
	</springProfile>

	<!-- spring.profiles.active=prod -->
	<springProfile name="prod">
		<root level="info" additivity="false">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="SAVE-TO-FILE" />
		</root>
		<logger name="royleej9.sample.log" additivity="false"
			level="info">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="SAVE-TO-FILE" />
		</logger>
		<logger name="royleej9.sample.home" additivity="false"
			level="info">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="SAVE-TO-FILE" />
		</logger>
	</springProfile>

</configuration>